
html {
    background-color: #fffef8;
    background: no-repeat url(/img/bg.jpg);
    background-position: top right -400px;
    text-shadow: 0px 0px 2px #ffffff;
}

body {
    background-color: transparent;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
    font-family: 'Open Sans', sans-serif;
}

figure {
    margin: 0 0 1em;
}

figcaption {
    font-size: small;
    font-style: italic;
}

@media (min-width: 666px) {
    html {
        background-position: top right -300px; 
    }
    body {
        padding-right: 300px;
    }
}

@media (min-width: 768px) {
    html {
        background-position: top right -200px; 
    }
    body {
        padding-right: 400px;
    }
}

@media (min-width: 992px) {
    html {
        background-position: top right;
    } 
    body {
        padding-right: 600px;
    }
}

